
.inputClass{
    background-color: rgb(36, 7, 73);
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    margin-bottom: 1em auto;
}

#to-do-form input{
    background-color: whitesmoke;
    border: 0px;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
#to-do-form input:focus ,button:focus{
    outline: none;
}

#to-do-form button{
    background-color: yellowgreen;
    border: 0px;
    height: 50px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    
}